<div class="explore-overlay">
	<div class="explore-container">
	  <ul>
		<li {{action showRecommended}} class="explore-recommended-on">&nbsp;</li>
		<li {{action showPopular}} class="explore-popular coming-soon">&nbsp;</li>
		<li {{action showNearby}} class="explore-nearby coming-soon">&nbsp;</li>
		<li {{action showFriends}} class="explore-friends coming-soon">&nbsp;</li>
		<li {{action showInterests}} class="explore-interests coming-soon">&nbsp;</li>
	  </ul>
	</div>
	<div class="sidebar-shadow"></div>
</div>
{{outlet}}
{{outlet countdown}}