{{#if view.isInView}}
	{{#with view.content}}
		<div class="product-container fade-in">
			{{#if controller.showFaces}}
			  {{#with user}}
					{{view Shoplift.UserView}}
			  {{/with}}
		  {{/if}}
			<div class="product-img">
				<img {{bindAttr src="photoFileName"}} /> 
			</div>
			<div class="product-meta">
				<p class="product-brand">{{truncate brand length=23 append="..."}}</p>
				<p class="product-name">{{truncate name length=31 append="..."}}</p>
			</div>
			<div class="product-sub-container">
				<a class="relift-this icon-relift-button" rel="#tsl-relift-popup" title="Relift this!"></a> <!-- TODO: Relift action should go here -->
			</div>
		</div>
		<div class="product-drawer-container">
		  <div class="product-drawer drawer-hidden">
			    <ul class="drawer-tabs nav nav-pills">
			  	  <li class="active"><a class="drawer-hashtags" {{identify name="tags" href=true}} data-toggle="pill"></a></li>
			  	  <li><a class="drawer-quote" {{identify name="quote" href=true}} data-toggle="pill"></a></li>
			  	  <li><a class="drawer-history" {{identify name="history" href=true}} data-toggle="pill"></a></li>
			    </ul>
			    <div class="tab-content">
			      <div class="tab-pane active" {{identify name="tags"}}>
			    	  <div class="tag-list-container">
			    		  <ul class="tag-list">
			    			  <li>
			    				  <a><input type="text" id="newTag{{id}}" placeholder="Add a tag" /></a>
			    			  </li>
			    			  {{#each hashtagbrands}}
			    				  <li><a {{action showTag this href=true}}>{{value}}</a></li>
			    			  {{/each}}
			    		  </ul>
			    	  </div>
			    	  <div class="price">{{currency price}}</div>
			      </div>
			      <div class="tab-pane" {{identify name="quote"}}>
			      	  <div class="quote-container">
			      		  <p class="quote">{{{comment}}}</p>
			      	  </div>
			      </div>
			      <div class="tab-pane" {{identify name="history"}}>
			      	  <div class="history-container">
				      	  
				      	  {{#with history}}
				      		  <div class="first-shoplifter">
				      			  Shoplifted first by
				      			  {{#with firstLifter}}
				      				  <div {{action showProfile this}}><img {{bindAttr src="avatar"}} {{bindAttr alt="fullName"}} /></div>
				      			  {{/with}}
				      		  </div>
				      		  <div class="relifters">
				      		  		Relifted by {{items.length}} {{pluralize items.length single="member" plural="members"}}
				      		  		{{#each item in items}}
				      		  				<div {{action showProfile item.user}}><img {{bindAttr src="item.user.avatar" alt="item.user.fullName"}} /></div>
				      		  		{{/each}}
				      		  </div>
			      		  {{/with}}
			      	  </div>
			      </div>
			    </div> <!-- end tab content -->
			  
			  <ul class="drawer-actions">
				  <li><a href="#" class="save-this icon-save-button"></a></li>
				  <li><a href="#" class="share-this icon-share-button" rel="#tsl-share-popup"></a></li>
				  <li><a href="#" class="buy-this icon-buy-button"></a></li>
			  </ul>
			  <a href="#" class="drawer-opener icon-plus-button"></a>
		  </div> <!-- end product drawer -->
		</div> <!-- end product drawer container -->
	{{/with}}
{{/if}}