
{{#with view.content}}
	<div class="profile-box-container"><!-- {{action showProfile this}}>-->
		{{view Shoplift.UserView}}
		{{#each recentItems}}
			<div class="product-img">
				<img {{bindAttr src="photoFileName"}} /> 
			</div>
		{{/each}}

		<div class="profile-sub-container">
			<div class="profile-meta">
				<ul>
					<li>{{truncate htmldescription length=50 append="..."}}</li>
					<li>{{followers.length}} Followers</li>
				</ul>
			</div>
			<div {{bindAttr class="view.following:follow-check-on:follow-check"}} {{action follow target="view"}}></div>
		</div>
	</div>
<!-- end profile-box -->
{{/with}}