<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <ul>
    <li>
      <%= f.label :full_name, "Name*" %>
      <br />
      <%= f.text_field :full_name %>
    </li>

    <li>
      <%= f.label :password, "Password*" %>
      <br />
      <%= f.password_field :password %>
    </li>

    <li>
      <%= f.label :email, "Email Address*" %>
      <br />
      <%= f.email_field :email %>
    </li>

    <li>
      <%= f.label :password_confirmation, "Password Confirmation*" %>
      <br />
      <%= f.password_field :password_confirmation %>
    </li>

    <li>
      <%= f.label :vanity_url, "Vanity URL" %><span class="question"><%= link_to_function "?", "alert('This should explain the Vanity URL')" %></span>
      <br />
      <%= f.text_field :vanity_url %>
    </li>

    <div class="clear"></div>

    <p class="option"><span></span></p>
    <br />
    <h3>Personal Settings</h3>

    <li>
      <%= f.label :country, "Country*" %>
      <br />
      <%= f.country_select :country, ["United States", "Canada", "United Kingdom"] %>
    </li>

    <li>
      <%= f.label :zipcode, "Zip Code" %>
      <br />
      <%= f.text_field :zipcode %>
    </li>

    <li>
      <%= f.label :sex, "I am:*" %>
      <br />
      <%= f.select :sex, options_for_select([["Male", true], ["Female", false]]), :prompt => true %>
    </li>

    <li>
      <%= f.label :birthdate, "Birthdate" %>
      <br />
      <%= f.date_select :birthdate, :order => [:month, :day, :year], :start_year => 1920, :end_year => Time.now.year - 13, :prompt => true %>
    </li>

    <div class="clear"></div>

    <li>
      <%= f.label :biography, "Blurb" %><span class="question"><%= link_to_function "?", "alert('This should explain the biography')" %></span>
      <br />
      <%= f.text_area :biography, :size => "60x5" %>
    </li>

    <div class="clear"></div>

    <li>
      <%= f.label :website %><span class="question"><%= link_to_function "?", "alert('This should explain the website')" %></span>
      <br />
      <%= f.text_field :url %>
    <li>
  </ul>
  <div class="clear"></div>

  <p class="option"><span></span></p>
  <br />
  <h3>Linked Accounts<span class="question"><%= link_to_function "?", "alert('This should explain the linked accounts')" %></span></h3>
  <p><%= link_to_function "Link to your Facebook account", "alert('Coming Soon!')" %></p>
  <p><%= link_to_function "Link to your Twitter account", "alert('Coming Soon!')" %></p>
  <p><%= link_to_function "Link to your Pinterest account", "alert('Coming Soon!')" %></p>

  <div class="clear"></div>

  <p class="option"><span></span></p>
  <br />
  <p><%= link_to_function "Terms of Service", "alert('This will link to the terms of service page')" %></p>

  <div class="clear"></div>

  <p class="option"><span></span></p>
  <br />
  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
  <ul>
    <li>
      <%= f.submit "Update", :class => 'submit' %>
    </li>
  </ul>
  <div class="clear"></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
