<% provide(:title, 'Register') %>
<div class="centerCol">
  <div class="entry new_user_signup">

    <%= link_to_function "Sign up with Facebook", "alert('Not Yet!')", :class => 'facebookSignup' %>
    <br />
    <p class="option"><span>or</span></p>

    <h2>Create an Account</h2>
    <p>*Indicates Required Field</p>
    <br />
    <h3>Account Settings</h3>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <ul>
        <li>
          <%= f.label :full_name, "Name*" %>
          <br />
          <%= f.text_field :full_name %>
        </li>

        <li>
          <%= f.label :email, "Email Address*" %>
          <br />
          <%= f.email_field :email %>
        </li>

        <li>
          <%= f.label :password, "Password*" %>
          <br />
          <%= f.password_field :password %>
        </li>

        <li>
          <%= f.label :password_confirmation, "Password Confirmation*" %>
          <br />
          <%= f.password_field :password_confirmation %>
        </li>

        <div class="clear"></div>

        <p class="option"><span></span></p>
        <br />
        <h3>Personal Settings</h3>

        <li>
          <%= f.label :country, "Country*" %>
          <br />
          <%= f.country_select :country, ["United States", "Canada", "United Kingdom"] %>
        </li>

        <li>
          <%= f.label :zipcode, "Zip Code*" %>
          <br />
          <%= f.text_field :zipcode %>
        </li>

        <li>
          <%= f.label :sex, "I am:*" %>
          <br />
          <%= f.select :sex, options_for_select([["Male", true], ["Female", false]]), :prompt => true %>
        </li>


      </ul>
      <div class="clear"></div>

      <p class="option"><span></span></p>
      <br />
      <li style="width:25px;">
        <%= f.check_box :tos, :value => true %>
      </li>
      <li>
        <%= f.label :tos, "I agree to the #{link_to "terms of service", terms_of_service_path, :target => '_blank'}".html_safe %>
      </li>

      <div class="clear"></div>

      <p class="option"><span></span></p>
      <br />
      <ul>
        <li>
          <%= f.submit "Continue", :class => 'submit' %>
        </li>
      </ul>
      <div class="clear"></div>
    <% end %>

  </div>
</div>