<html lang="en">
  <%= render "page/header" %>
<body>
  <%= render "page/subhead" %>
<% provide(:title, 'Register') %>
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>
  <input name="utf8" type="hidden" value="&#x2713;" />
  <li>
    <label for="fullName">Name</label>
    <input type="text" class="text" name="user[full_name]" id="fullName" />
  </li>
  <li>
    <label for="email">Email</label>
    <input type="text" class="text" name="user[email]" id="email" />
  </li>
  <li>
    <label for="gender">Gender:</label>
    <input type="radio" class="radio" name="user[sex]" value="true" id="sex-male" /><label for="sex">Male</label>
    <input type="radio" class="radio" name="user[sex]" value="false" id="sex-female" /><label for="sex">Female</label>
  </li>
  <li>
    <label for="zipcode">Zip Code</label>
    <input type="text" class="text" name="user[zipcode]" id="zipcode" />
  </li>
  <li>
      <label for="password">Password</label>
      <input type="password" class="text" name="user[password]" id="password" />
      <label for="password_confirmation">Confirmation</label>
      <input type="password" class="text" name="user[password_confirmation]" id="password_confirmation" />
      <input type="hidden" class="text" name="user[username]" id="username" value="may not use" />
  </li>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
</body>
</html>
