  <h2>Follow Shoplifters</h2>
  <ul class="followOptions">
    <li><%= link_to "Recommended", shoplifters_path(:option => 'recommended'), :class => 'suggestions' %></li>
    <li><%= link_to "Staff Picks", shoplifters_path(:option => 'staff_picks'), :class => 'suggestions' %></li>
    <li><%= link_to "Most Popular", shoplifters_path(:option => 'popular'), :class => 'suggestions' %></li>
    <li><%= link_to "Trending Now", shoplifters_path(:option => 'trending'), :class => 'suggestions' %></li>
    <li><%= link_to "Local Favorites", shoplifters_path(:option => 'local_favorites'), :class => 'suggestions' %></li>
    <li><%= link_to "Your Friends", shoplifters_path(:option => 'friends'), :class => 'suggestions' %></li>
    <li><%= link_to "By Interest", categories_path %></li>
  </ul>
  <ul class="followInterest">
    <% Category.all.each do |category| %>
      <li><%= link_to category.name, shoplifters_path(:category => category.param) %></li>
    <% end %>
  </ul>
