<div class="entry person">
  <div class="entryHead">
    <a href="#"><%= image_tag user.avatar.url(:small), :size => "175x175" %></a>
    <div class="personMeta">
      <h2><%= user.full_name %><br/><span class="location"><%= user.hometown %></span></h2>
      <%= render 'users/profile_stats', user: user %>
      <div class="profileText"><%= user.biography %></div>
      <% if user_signed_in? %>
        <%= link_to_function current_user.following?(user) ? 'Following' : 'Follow', "handleFollow(#{user.id}, $(this))", :class => current_user.following?(user) ? 'following button' : 'button' %>
      <% else %>
          <%= link_to "Follow", root_url, :class => 'button' %>
      <% end %>
    </div>
  </div>
  <div class="personProducts">
    <ul>
      <% user.posts.first(5).each do |post| %>
        <li><a href="#"><%= image_tag post.photo.url(:small), :size => "113x113" %></a></li>
      <% end %>
    </ul>
  </div>
</div>