<div class="entry person">
  <div class="entryHead">
    <%= link_to (image_tag user.avatar.url(:small), :size => "175x175"), user %>
    <div class="personMeta">
      <h2><%= link_to user.full_name, user %><br/><span class="location"><%= user.hometown %></span></h2>
      <%= render 'users/profile_stats', user: user %>
      <div class="profileText"><%= user.biography %></div>
      <% if user_signed_in? %>
        <%= link_to_function current_user.following?(user) ? 'Following' : 'Follow', "handleFollow(#{user.id}, $(this))", :class => current_user.following?(user) ? 'following button' : 'button' %>
      <% else %>
          <%= link_to "Follow", root_url, :class => 'button' %>
      <% end %>
    </div>
  </div>
  <div class="personProducts">
    <ul>
      <% user.items.first(5).each do |item| %>
        <li>
          <%= link_to (image_tag item.photo.url(:small), :size => "113x113"), user_path(user, :anchor => "item_#{item.id}", :item_id => item.id) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>