<div class="leftCol">
  <div class="signupWrap">
    <h2><a href="#" class="showSignup">Sign In</a></h2>
    <div class="signinOptions" style="display: <%= params[:login_failed] ? 'block' : 'none' %>">
      <div class="divider"></div>
      <%= link_to_function "Sign in with Facebook", "alert('Not Yet!')", :class => 'facebookSignup' %>
      <p class="option"><span>or</span></p>
      <%= form_for :user, :url => user_session_path, :class => 'signIn' do |f| %>
        <%= devise_error_messages! %>

        <%= f.email_field :email, :class => 'text', :placeholder => 'Email Address' %>
        <%= f.password_field :password, :class => 'text', :placeholder => 'Password' %>
        <%= f.submit "Sign In", :id => 'submit' %>
      <% end %>
      <div class="divider" style="margin-bottom:5px;padding-bottom:10px"></div>
      <%= link_to "Forgot Password?", new_password_path(:user), :class => 'forgotPassword modal_link' %>
    </div>
  </div>
  <div class="signupWrap">
    <h2>Not a member?<br/><%= link_to "Sign Up!", new_user_registration_path %></h2>
  </div>
</div>

<div class="rightCol internal">
  <p style="margin-bottom:20px"><img src="../img/slideshow-fpo.gif" alt="slideshow-fpo" width="652" height="394" /></p>
  <div class="blogFollow"><a href="#">Visit our blog</a>. <span style="padding: 0 5px">|</span> Follow us: <a href="#" class="facebook">Facebook</a> <a href="#" class="twitter">Twitter</a> <a href="#" class="pinterest">Pinterest</a>  <a href="#" class="tumblr">Tumblr</a></div>
</div>

<div class="clear"></div>
