<div class="tsl-relift-popup-wrap" id="tsl-relift-popup">
    <div class="tsl-relift-popup">
      <div class="tsl-relift-popup-header-wrap">
            <div class="tsl-relift-popup-profile-ring"></div>
            <div class="tsl-relift-popup-circle-overflow">
                <%= image_tag(@item.user.avatar.url(:small), height: '116px', width: '87px') %>
            </div><!--/tsl-relift-popup-circle-overflow-->
            <h2><%= @item.user.full_name %></h2>
<div class="clear"></div>
      </div><!--/tsl-relift-popup-header-wrap-->
        
      <a href="javascript:;" class="close"></a>
            
      <div class="tsl-relift-popup-scaffold">
          <div class="tsl-relift-popup-img-shadow"></div><!--/tsl-relift-popup-img-wrap-->
            <div class="tsl-relift-popup-img">
              <%= image_tag(@item.photo.url(:small), width: '242px', height: '243px')  %>
              <div class="tsl-relift-popup-img-text-box">
                  
                  <div class="tsl-relift-popup-brand-text"><%= @item.post.brand.name %></div>         
                  <div class="tsl-relift-popup-item-text"><%= @item.post.name %></div>
                  <div class="tsl-relift-popup-price-text">$<%= @item.post.price.ceil %></div>     
<div class="clear"></div>   
                </div><!--/tsl-relift-popup-img-text-box-->
            </div><!--/tsl-relift-popup-img-->
            
            <div class="tsl-relift-popup-right-content">
              <form class="tsl-relift-popup-form" action="/items/<%= @item.id%>/relift" name="relift_item_form" id="relift_item_form">
                    
                    <div class="tsl-relift-popup-second-screen-form">
                        <h4>Tags</h4>
                        <textarea class="tsl-relift-popup-textarea-tags" name="hashtags" id="hashtags"></textarea>
                        <h4>Thoughts</h4>
                        <textarea class="tsl-relift-popup-input-thoughts" name="comment" id="comment"></textarea>
                    </div><!--/tsl-relift-popup-second-screen-form-->
                    
                 <input type="image" class="relift-submit" src="assets/relift-popup/images/relift-btn.png" alt="submit" name="submit" />
                                     
                </form>
            </div><!--/tsl-relift-popup-right-content-->
        </div><!--/tsl-relift-popup-scaffold-->
    </div><!--/tsl-relift-popup-->    
</div><!--/tsl-relift-popup-wrap-->

<script>

  function commentCharsLeft() {
    var chars = 100-$('#comment').val().length;
    $('#chars_left').html(chars);
    if (chars < 0) {
      $('input[name=submit]').hide();
    } else {
      $('input[name=submit]').show();
    }
  }
  commentCharsLeft();
  $('#comment').keyup(function () {
    commentCharsLeft();
  });
  $('#relift_item_form').submit(function () {
    var this_form = $(this);
    $.ajax({
      url:'/items/<%= @item.id%>/relift',
      type:'POST',
      dataType:'json',
      data: $(this).serialize(),
      success:function(data) {
        var itemId = data.id;
        var parentId = data.parent_id;
        $('#tsl-relift-popup').overlay().close();
      },
      error:function(xhr,textStatus,errorThrown){
        alert(xhr.responseText);
        $.modal.close();
      }
    });
    return false;
  });
</script>
