<h2>re-lift this item</h2>
<div class="modalContent">
  <p>Product Details:</p>
  <ul>
    <li>Brand: <%= @item.post.brand %></li>
    <li>Item Name: <%= @item.post.name %></li>
    <li>Price: $<%= @item.post.price.ceil %></li>
  </ul>
  <div class="divider"></div>
  <form action="/items/<%= @item.id%>/relift" name="report_item_form" id="report_item_form">
    <p>Comment (<span id="chars_left">0</span> characters left)</strong><p>
    <textarea name="comment" id="comment" rows="3" columns="40"></textarea>
    <div class="divider"></div>
    <div>
      <div >
          <img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>
          <input type="text" class="text" id="hashtag" name="hashtag" value="Add a Tag" style="width: 215px;" />
          <input type="button" name="submit" class="addSubmit" id="addTag" style="float: right;"/>
      </div>
      <ul id="tagList">
      </ul>
    </div>
    <div class="divider"></div>
    <div class="submitWrap">
      <input type="submit" class="submit" name="submit" value="Re-lift this item now" />
      <input type="submit" class="submit simplemodal-close" name="submit" value="Never Mind" />
    </div>
  </form>
  <div class="divider"></div>
</div>
<script>
  $('#addTag').click(function () {
    var countOfTags = $('#tagList li').size();
    $('#tagList').append('<li><input type="hidden" name="hashtag_value['+countOfTags+']" value="'+$('#hashtag').val()+'"/>'+$('#hashtag').val()+'</li>');
    $('#hashtag').val('Add another Tag');
  });

  function commentCharsLeft() {
    var chars = 100-$('#comment').val().length;
    $('#chars_left').html(chars);
    if (chars < 0) {
      $('input[name=submit]').hide();
    } else {
      $('input[name=submit]').show();
    }
  }
  commentCharsLeft();
  $('#comment').keyup(function () {
    commentCharsLeft();
  });
  $('#report_item_form').submit(function () {
    var this_form = $(this);
    $.ajax({
      url:'/items/<%= @item.id%>/relift',
      type:'POST',
      dataType:'json',
      data: $(this).serialize(),
      success:function(data) {
        // now add the hashtags
        $.modal.close();
      },
      error:function(xhr,textStatus,errorThrown){
        alert(xhr.responseText);
      }
    });
    return false;
  });
  $('.simplemodal-close').click(function () {
      $.modal.close();
      return false;
  });
</script>
