<div class="tsl-share-popup-wrap" id="tsl-share-popup" >
	
    <div class="tsl-share-popup">

    	<div class="tsl-share-popup-header-wrap">
        	<div class="tsl-share-popup-icons-wrap">
                <a href="javascript:;" class="tsl-share-popup-twitter-icon"></a>
                <a href="javascript:;" class="tsl-share-popup-facebook-icon"></a>
                <a href="javascript:;" class="tsl-share-popup-pinterest-icon"></a>
                <a href="javascript:;" class="tsl-share-popup-email-icon"></a>
            </div><!--/tsl-share-popup-icons-wrap-->

<div class="clear"></div>
        </div><!--/tsl-share-popup-header-wrap-->

    		<a href="javascript:;" class="close"></a>

    	<div class="tsl-share-popup-scaffold">
        	<h4 class="share-above-image-txt">Email it:</h4>
        	<div class="tsl-share-popup-img-shadow"></div><!--/tsl-share-popup-img-wrap-->
            <div class="tsl-share-popup-img">
              <%= image_tag(@item.photo.url(:small), width: '195px', height: '195px')  %>
              <div class="tsl-share-popup-img-text-box">
                  
                  <div class="tsl-share-popup-brand-text"><%= min_name(@item.post.brand.name, 20) %></div>         
                  <div class="tsl-share-popup-item-text"><%= min_name(@item.post.name, 22) %></div>
                  <div class="tsl-share-popup-price-text">$<%= @item.post.price.ceil %></div>     
<div class="clear"></div>   
                </div><!--/tsl-share-popup-img-text-box-->
            </div><!--/tsl-share-popup-img-->

            <div class="tsl-share-popup-right-content">
            	<form class="tsl-share-popup-form" action="">

                    <div class="tsl-share-popup-second-screen-form">
                        <h4>To</h4>
                        <textarea class="tsl-share-popup-textarea-tags" id="addresses" name="addresses"></textarea>

                        <h4>Subject</h4>
                        <input class="tsl-share-popup-subject-input" name="subject" value=""></textarea>

                        <h4>Thoughts (optional)</h4>
                        <textarea class="tsl-share-popup-input-thoughts" name="thoughts"></textarea>
                    </div><!--/tsl-share-popup-second-screen-form-->

                 <input type="submit" id="share-email-submit" alt="submit" name="submit" value="Send" />

                </form>

            </div><!--/tsl-share-popup-right-content-->
        </div><!--/tsl-share-popup-scaffold-->

    </div><!--/tsl-share-popup-->
    
</div><!--/tsl-share-popup-wrap-->
// initialize overlay when page is scriptable
<script>
	$('.tsl-share-popup-email-icon').click(function () {
		$('.tsl-share-popup-scaffold').hide();
		$('.tsl-share-popup-twitter-icon, .tsl-share-popup-facebook-icon, .tsl-share-popup-pinterest-icon').removeClass('icon-active');
		$(this).addClass('icon-active');
		$('.tsl-share-popup-scaffold').fadeIn('slow');
	});
	
	$('.tsl-share-popup-pinterest-icon').click(function () {
		$('.tsl-share-popup-scaffold').hide();
		$('.tsl-share-popup-twitter-icon, .tsl-share-popup-facebook-icon, .tsl-share-popup-email-icon').removeClass('icon-active');
		$(this).addClass('icon-active');
		/*$('.tsl-share-popup-scaffold').fadeIn('slow');*/
	});
	
	$('.tsl-share-popup-facebook-icon').click(function () {
		$('.tsl-share-popup-scaffold').hide();
		$('.tsl-share-popup-twitter-icon, .tsl-share-popup-pinterest-icon, .tsl-share-popup-email-icon').removeClass('icon-active');
		$(this).addClass('icon-active');
		/*$('.tsl-share-popup-scaffold').fadeIn('slow');*/
	});
	
	$('.tsl-share-popup-twitter-icon').click(function () {
		$('.tsl-share-popup-scaffold').hide();
		$('.tsl-share-popup-facebook-icon, .tsl-share-popup-pinterest-icon, .tsl-share-popup-email-icon').removeClass('icon-active');
		$(this).addClass('icon-active');
		/*$('.tsl-share-popup-scaffold').fadeIn('slow');*/
	});

  $('.tsl-share-popup-form').submit(function () {
    if (!validate()) {
      return false;
    }
    $.ajax({
      url:'/items/<%= @item.id%>/email',
      type:'POST',
      dataType:'json',
      data: $(this).serialize(),
      success:function(data) {
        if (window.console) console.log(data);
      },
      error:function(xhr,textStatus,errorThrown){
        if (window.console) console.log(xhr.responseText);
      }
    });
		$('.tsl-share-popup-email-icon').removeClass('icon-active');
		$('.tsl-share-popup-scaffold').hide();
    return false;
  });

  function validateEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
  }

  function validate() {
    var valid = true;
    var emailsIn = $("#addresses").val();
    var emails = emailsIn.split(',');
    if (emails.length == 1) {
      emails = emailsIn.split(' ');
    }
    $.each(emails, function(index, email) {
      if (!validateEmail(email.trim())) {
        valid = false;
        var bad = ''
        if (email.length == 0) {
          alert("Please enter an email address.");
        } else {
          alert("Please enter a properly formatted email address for "+email);
        }
      }
    });
    return valid;
  }

</script>
					
