<div class="tag-overlay">
	<div class="tag-container">
		
		<div class="tag-list-container">
			<ul class="tag-list">
				<li>{{value}}</li>
			</ul>
			<ul class="tag-list">
				{{#each related}}
					<li {{action showTag this}}><a>{{value}}</a></li>
				{{/each}}
			</ul>
		</div>
		<div class="on-now tag-type"></div>
		<div class="up-next tag-type"></div>
		<a {{action showItems href=true}} class="show-items tag-type"></a>
		<a {{action showMembers href=true}} class="or-members tag-type"></a>
	</div>
	<div class="sidebar-shadow"></div>
</div>
{{outlet}}