{{#even @index }}
	<div class="tag-brand item">
		<img src="{{image}}" alt="{{name}}" />
		<div class="tag-brand-sub-container">
			<ul class="tag-list">
				<li>{{name}} {{@index}}</li>
			</ul>
		</div>
{{else}}
		<img src="{{image}}" alt="{{name}}" />
		<div class="tag-brand-sub-container">
			<ul class="tag-list">
				<li>{{name}} {{@index}}</li>
			</ul>
		</div>
	</div>
{{/even}}