
	<div class="profile-container">
	  <ul>
		<li {{action showItems}} class="profile-count of-items">{{items.length}}</li>
		<li {{action showFollowees}} class="profile-count of-followees">{{followeeCount}}</li>
		<li {{action showFollowers}} class="profile-count of-followers">{{followerCount}}</li>
		<li {{action showHashtags}} class="tags-brands">&nbsp;</li>
	  </ul>
	  <section class="profile-description">
		{{{htmldescription}}}
	  </section>
		<a href="{{website}}" class="profile-website"><img src="http://davidmazza.net/shoplift/img/www.png" rel="tooltip" title="Visit website" alt="personal website" /></a>
	</div>
	<div class="sidebar-shadow"></div>

{{outlet}}