<div class="profile-overlay">
	<div class="profile-container">
	  <ul>
		<li {{action showItems}} {{bindAttr class="controller.itemsClasses"}}>{{items.length}}</li>
		<li {{action showFollowees}} {{bindAttr class="controller.followeesClasses"}}>{{followees.length}}</li>
		<li {{action showFollowers}} {{bindAttr class="controller.followersClasses"}}>{{followers.length}}</li>
		<li {{action showHashtagbrands}} {{bindAttr class="controller.tagsBrandsClasses"}}>&nbsp;</li>
	  </ul>
	  {{#if htmldescription}}
	  <section class="profile-description">
		{{{htmldescription}}}
	  </section>
	  {{/if}}
		<a {{bindAttr href="url"}} target="_blank" class="profile-website"><img src="http://davidmazza.net/shoplift/img/www.png" rel="tooltip" title="Visit website" alt="personal website" /></a>
	</div>
	<div class="sidebar-shadow"></div>
</div>
{{outlet}}