<div class="<%= item.saved_by?(current_user) ? 'saved' : '' %> productBox" id="item_<%= item.id %>">
  <div class="productBox1">
    <div class="profileImgPan"></div>
    <div class="circle-overflow">
      <%= image_tag(item.user.avatar.url(:small), height: '116px', width: '87px') %>
    </div><!--/circle-overflow-->
    <h2 class="full_name"><%= item.user.full_name %></h2>
    <% if item.comment && item.comment.strip != '' %>
      <blockquote>
        <%= image_tag('begining-qoute.png', class: 'left') %>
        <p class="item_comment"><%= item.comment %></p>
        <%= image_tag('end-qoute.png') %>
      </blockquote>
    <% end %>
    <div class="productImg">
        <%= image_tag(item.photo.url(:small), width: '353px', height: '410px')  %>
    </div>
    <div class="productPricePan">
      <p class="productName"><%= min_name(item.post.brand.name, 20) %></p>
      <p class="productPrice">
        <span class="name"><%= min_name(item.post.name, 22) %></span>
        <span class="price"><%= number_to_currency(item.price, :precision => 0) %></span></p>
        <a href="#" class="liftBtn modal" rel="#tsl-relift-popup" data-modalType="relift" data-modal-rails="relift?post_id=<%= item.id%>"></a>
    </div>  
  </div>
  <a href="#" id="slideBtn<%=item.id%>" class="slideBtn">Slide</a>
  
  <div class="productBox2">
     <ul class="tabNav">
       <li class="tab1" rel="tabContent1"><a href="#">Tags</a></li>
       <li class="tab2" rel="tabContent2"><a href="#">History</a></li>
       <div class="clear"></div>
     </ul>
     
     <div class="tabContent tabContent1">
       <div class="tabLinkPan">
         <div class="tabInnerLink tag-txt"><a href="#">Enter tag here</a></div>
         <% item.hashtags.each do |tag| %>
           <div class="tabInnerLink"><a href="#"><%= tag.hashtag_value.value %></a></div>
         <% end %>
       </div>
       <div class="bottomButtonPan">
         <a href="#" class="shareBtn">SHARE</a>         
         <a href="#" class="btnSetAside saveBtn <%= item.saved_by?(current_user) ? 'has_aside' : '' %>" 
            item_id="<%= item.id %>" 
            set_aside_id="<%= item.aside_by(current_user).id if item.saved_by?(current_user) %>" >
               <%= item.saved_by?(current_user) ? 'SAVED' : 'SAVE' %>
         </a>         
         <a href="<%= item.post.url %>" class="buyBtn" target="_blank">BUY</a>
       </div>
       <div class="bottomButtonPan-shadow"></div>
     </div>
     <div class="tabContent tabContent2">
       <div class="tabLinkPan">
         <% item.items.sort.slice(1..-1).each do |i| %>
           <% next unless i.user.present? && i != 1 %>
             <div class="tabInnerLink"><%= link_to user_image_and_value(i.user, i.user.full_name), '#' %></div>
         <% end %>
         <div class="tabInnerLink tag-txt"><a href="#">First Lifted By</a></div>
         <div class="tabInnerLink"><%= link_to user_image_and_value(item.items.first.user, item.items.first.user.full_name), '#' %></div>
       </div>
     </div>
  </div>
</div>
<script>
  /* needs to be here so it runs when pulled via AJAX */

  $('.full_name').quickfit({ max: 42, min: 12, truncate: false });
  $('.item_comment').quickfit({ max: 24, min: 12, width: 630, truncate: true });

</script>
