<div class="<%= item.saved_by?(current_user) ? 'saved' : '' %> productBox" id="item_<%= item.id %>">
  <div class="productBox1">
    <div class="not-active-box"></div>
    <div class="profileImgPan roundImage">
      <%= image_tag(item.user.avatar.url(:small), height: '120px', width: '117px') %>
      <div class="profile-img-not-active-box"></div>
    </div>
    <h2 class="full_name"><%= item.user.full_name %></h2>
    <blockquote>
      <p><%= item.comment %></p>
    </blockquote>
    <div class="productImg">
        <%= image_tag(item.photo.url(:small), height: '437px', width: '520px')  %>
    </div>
    <div class="productPricePan">
      <p class="productName"><%= item.post.brand.name %></p>
      <p class="productPrice"><%= item.post.name %> <span><%= number_to_currency(item.price, :precision => 0) %></span></p>
        <a href="#" class="liftBtn">RE-LIFT</a>
    </div>  
  </div>
  <a href="#" class="slideBtn">Slide</a>
  
  <div class="productBox2">
     <ul class="tabNav">
       <li class="tab1" rel="tabContent1"><a href="#">Tags</a></li>
       <li class="tab2" rel="tabContent2"><a href="#">History</a></li>
     </ul>
     <div class="tabContent tabContent1">
        <div class="tabLinkPan">
          <div class="tabInnerLink tag-txt"><a href="#">Add a Tag</a></div>
          <div class="tabInnerLink"><a href="#">Beach Preppy</a></div>
          <div class="tabInnerLink"><a href="#">Sandals</a></div>
          <div class="tabInnerLink"><a href="#">Marias USA</a></div>
          <div class="tabInnerLink"><a href="#">Coral</a></div>
          <div class="tabInnerLink"><a href="#">Summer Casual</a></div>
        </div>
        <div class="bottomButtonPan">
          <a href="<%= item.post.url %>" class="buyBtn" target="_blank">BUY</a>
          <a href="#" class="saveBtn">SAVE</a>
          <a href="#" class="shareBtn">SHARE</a>
        </div>
      </div>
      <div class="tabContent tabContent2"></div>
  </div>
</div>
<script>
  /* needs to be here so it runs when pulled via AJAX */
  $('.full_name').quickfit({ max: 55, min: 12, truncate: false });
</script>
