<div class="entry">
  <div class="entryHead">
    <%= link_to image_tag(item.user.avatar.url(:thumb)), '#' %>
    <p class="user">
      <%= link_to item.user.full_name, user_path(item.user) %>
      <br/><span class="location"><%= item.user.hometown %></span>
    </p>
  </div>
  <div class="productMain">
    <div class="product">
      <div class="productDetails">
        <h2><%= item.retailer %><br/><span class="productDescription"><%= item.name %></span></h2>
        <div class="price"><%= number_to_currency(item.price) %></div>
        <ul class="actions">
          <li><a href="#" class="modal" data-modalType="relift" data-modal-rails="relift?post_id=<%= item.id%>">>Re-lift</a></li>
          <li><a href="#" class="btnSetAside">Save</a></li>
          <li><a href="#" class="modal" data-modalType="share">Share</a></li>
          <li><a href="#">Buy</a></li>
        </ul>
      </div>
      <%= link_to image_tag(item.photo.url(:small)), image_item_path(item), :class => 'modal_link' %>
    </div>
    <div class="productMeta">
      <div class="comment">
        <p><%= item.comment %></p>
        <p>Lifted <%= time_ago_in_words(item.created_at) %> Ago</p>
      </div>
      <ul class="tabs">
        <li class="current"><a href="#tagWrap">Tags</a></li>
        <li style="float:right"><a href="#historyWrap">History</a></li>
      </ul>
      <div class="toggleWrap" id="tagWrap" style="display:block;">
        <div class="add-tag">
          <form action="hashtags" method="post" name="add_tag_form">
            <img src="../img/global/user-thumb-holder.gif" alt="user-thumb-holder" width="25" height="25" class="user-tiny-thumb"/>
            <input type="text" class="text" name="hashtag_value" value="Add a Tag" />
            <input type="hidden" name="item_id" value="<%= item.id%>"/>
            <input type="submit" name="submit" class="addSubmit" />
          </form>
        </div>
        <div class="itemList">
          <div class="scrollWrap">
            <ul class="tagList">
              <% item.hashtags.each do |tag| %>
                <li><%= link_to user_image_and_value(tag.user, tag.hashtag_value.value), '#' %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="productTattle">
          <a href="#" class="modal flagItem" data-modalType="flagItem" data-modal-rails="report_item?post_id=<%= item.id%>">Flag Item</a>
          <a href="#" class="modal reportTag" data-modalType="reportTag" data-modal-rails="report_tag?post_id=<%= item.id%>">Report a Tag</a>
        </div>
      </div>
      <div class="toggleWrap" id="historyWrap" style="display:none;">
        <% if item.items.any? %>
          <p>Re-Lifted By:</p>
          <div class="itemList">
            <div class="scrollWrap">
              <ul>
                <% item.items.sort.each do |i| %>
                  <% next unless i.user.present? %>
                  <li><%= link_to user_image_and_value(i.user, i.user.full_name), '#' %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <p>First Lifted By:</p>
          <ul class="firstLifted">
            <li><%= link_to user_image_and_value(item.items.first.user, item.items.first.user.full_name), '#' %></li>
          </ul>
        <% else %>
          <p>No Re-lifts yet.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  handleAddTag();
  sitefuncs();
  <%#$('a[data-modal-rails="report_tag"]').last().attr('data-modal-rails', 'report_tag?post_id='+post.id);%>
  <%#$('a[data-modal-rails="report_item"]').last().attr('data-modal-rails', 'report_item?post_id='+post.id);%>
  <%#$('a[data-modal-rails="relift"]').last().attr('data-modal-rails', 'relift?post_id='+post.id);%>
</script>

