<div class="entry <%= item.saved_by?(current_user) ? 'saved' : '' %> productBox" id="item_<%= item.id %>">
    <div class="profileImgPan">
      <%= image_tag(item.user.avatar.url(:small), height: '120px', width: '120px') %>
    </div>
    <h2 class="full_name"><%= item.user.full_name %></h2>
    <blockquote>
      <p><%= item.comment %></p>
    </blockquote>
    <div class="productImg">
        <%= image_tag(item.photo.url(:small))  %>
    </div>
    <div class="productPricePan">
      <p class="productName"><%= item.post.brand.name %></p>
      <p class="productPrice"><%= item.post.name %> <span><%= number_to_currency(item.price, :precision => 0) %></span></p>
        <a href="#" class="liftBtn">RE-LIFT</a>
    </div>
</div>
<script>
  /* needs to be here so it runs when pulled via AJAX */
  $('.full_name').quickfit({ max: 55, min: 12, truncate: false });
</script>
