<head>
	<meta charset="utf-8">
	<title>The Shoplift: <%= full_title(yield(:title)) %></title>
	
	<meta name="description" content="The Shoplift" />
	<meta name="keywords" content="The Shoplift" />	
	<meta name="author" content="The Shoplift" />
  <%= yield :head %>
  
  <%= stylesheet_link_tag "main"%>	
  <%= stylesheet_link_tag "page"%>	
  <%= javascript_include_tag "application" %>
</head>

