<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# the_shoplift: http://ogp.me/ns/fb/the_shoplift#">
	<meta charset="utf-8">
	<title>The Shoplift: <%= full_title(yield(:title)) %></title>
	
	<meta name="description" content="The Shoplift" />
	<meta name="keywords" content="The Shoplift" />	
	<meta name="author" content="The Shoplift" />
  <%= yield :head %>
  
  <!-- note: if you use any stylesheet other than the application.css manifest, it becomes manual --> 
  <%= stylesheet_link_tag "main"	%>
  <%= stylesheet_link_tag "page"	%>

  <%= javascript_include_tag "application" %>
</head>

