<div class="header">
  <div class="logoPan">
      <%= link_to image_tag("logo.png", width:"600px", height:"155px"), '/' %></a>
    </div>
    <div class="profilePan">
        <div class="roundImage" >
          <%= image_tag(current_user.avatar.url(:small), height: '65', width: '65') %>
        </div>
        <ul id="mainMenu">
        	<li><a href="#" title="Add">Add</a></li>
          <li><%= link_to "Follow", shoplifters_path %> </li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Saved", user_path(current_user, :saved => true) %></li>
          <li><a href="#" title="Search">Search</a></li>
          <li class="arrowLink"><a href="#" class="arrow">></a>
          	<ul>
             	<li><a href="#" title="Invite">Invite</a></li>
              <li><a href="#" title="Help">Help</a></li>
              <li><a href="#" title="Buttons">Buttons</a></li>
              <li><a href="#" title="About">About</a></li>
              <li><a href="#" title="Blog">Blog</a></li>
              <li><a href="/logout" title="Sign Out">Sign Out</a></li>
            </ul>
          </li>
        </ul>
    </div>
</div>
