<!DOCTYPE html>
<html lang="en">
  <%= render "page/header" %>
<body>
  <%= render "page/subhead" %>
  <div id="content">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield :layout %>
  </div>
  <%= render "page/footer" %>
  <div id="basic-modal-content"></div>
</body>
</html>

