
<html xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# the_shoplift: http://ogp.me/ns/fb/the_shoplift#">
	<meta charset="utf-8">
	<title>The Shoplift</title>
	<meta name="description" content="The Shoplift" />
	<meta name="keywords" content="The Shoplift" />	
	<meta name="author" content="The Shoplift" />
  <%= yield :head %>
  <!-- note: if you use any stylesheet other than the application.css manifest, it becomes manual --> 
  <%= stylesheet_link_tag "style"	%>
  <%= stylesheet_link_tag "webfonts/stylesheet"%>	
  <%= stylesheet_link_tag "share-popup-styles"	%>
  <!-- note: main.css and page.css that are in _header.html.erb cause issues --> 
  <%= javascript_include_tag "application" %>
</head>
<body>

  <%= render "layouts/subhead" %>

<% flash.each do |name, msg| %>
  <div class="rightCol">
    <%= content_tag :div, msg.html_safe, :id => "flash_#{name}", :class => 'entry' %>
  </div>
<% end %>
<%= yield :layout %>
  <div id="basic-modal-content"></div>
<script type="text/javascript" src="http://s.skimresources.com/js/37030X960874.skimlinks.js"></script>    
<script type="text/javascript" src="//use.typekit.net/sli7ixm.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>

