<img src="/img/learn-scaffolding-top.png" id="top" />
<div id="modal">
	<div>
		<img src="/img/landing-demographics.png" alt="Now tell us about you" />
		<ul>
			<li id="gender">
				{{view Ember.Select contentBinding="controller.genders" valueBinding="controller.gender"}}
			</li>
			<li id="birthday">
				{{view Ember.Select contentBinding="controller.months" optionValuePath="content.id" optionLabelPath="content.month"}} 
				{{view Ember.Select contentBinding="controller.days" valueBinding="controller.day"}} 
			</li>
			<li id="country">
				{{view Ember.Select contentBinding="controller.countries" valueBinding="controller.country"}}
			</li>
			<li id="zipcode">
				{{view Landing.ZipField contentBinding="controller"}}
			</li>
		</ul>
	</div>
</div>
<a {{action next}}><img src="/img/chevron-next.png" alt="next" /></a>
<img src="/img/learn-scaffolding-bottom.png" id="bottom" />